/* == Wojo Menu == */
.wojo.menu {
  position: relative;
  width: 100%;
  z-index: 100;
  line-height: normal;
  background: #fff;
}
.wojo.menu a {
  color: #777;
}
.wojo.menu ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.wojo.menu li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: normal;
  vertical-align: middle;
}
.wojo.menu li a {
  display: flex;
  flex-flow: column;
  position: relative;
  padding: 1rem 2rem;
  line-height: 1rem;
  font-weight: 500;
  align-items: center;
  color: var(--grey-color);
  transition: none;
}
.wojo.menu li a:hover {
  color: var(--primary-color);
}
.wojo.menu li a img {
  font-size: 2rem;
  margin-bottom: .5rem;
  width: 3rem;
  opacity: .75;
  transition: all .35s ease;
}
.wojo.menu li a:hover img {
  opacity: 1;
}
/* main level */
.wojo.menu ul li {
  display: inline-block;
}
.wojo.menu ul li ul li a {
  align-items: start;
}
/* first level dd */
.wojo.menu ul ul {
  top: auto;
  min-width: 220px;
  position: absolute;
  z-index: 100;
  text-align: left;
  display: none;
  background: #fff;
  box-shadow: 0 20px 34px -16px var(--primary-color-shadow);
}
.wojo.menu li li {
  display: block;
}
/* second level dd */
.wojo.menu ul ul ul {
  top: 0;
  left: 220px;
}
.wojo.menu > ul > li:hover > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 0;
}
/* .drop-left */
.wojo.menu > ul > li.drop-left > ul {
  right: 0;
}
.wojo.menu li.drop-left ul ul {
  left: auto;
  right: 220px;
}
/* sticky nav */
.wojo.menu.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 101;
}
/* only used when 'scrollbarFix' is set to true in the js. This fixes horizontal scrollbar caused by the dd menus that are very long.*/
body.wojo.menu-noscroll-x {
  overflow-x: hidden;
}
/* general styling */
.wojo.menu li.has-sub > a::after {
  font-family: 'WojoIcons';
  content: "\e948";
  margin-left: .750rem;
  display: inline-block;
  position: absolute;
  right: -1rem;
  bottom: 1rem;
}
.wojo.menu li li.has-sub > a::after {
  margin-left: .750rem;
  transform: translateY(-50%);
  right: .5rem;
  content: "\e94a";
  position: absolute;
  top: 50%;
}
.wojo.menu li.drop-left li.has-sub > a::after {
  left: .5rem;
  right: auto;
  margin-right: .750rem;
  content: "\e949";
}
.wojo.menu.hide-arrows li.has-sub > a:after,
.wojo.menu.hide-arrows li li.has-sub > a:after,
.wojo.menu.hide-arrows li.drop-left li.has-sub > a:after {
  display: none;
}
.wojo.menu .close-menu {
  display: none;
  text-transform: uppercase;
  text-decoration: none;
}
.wojo.menu .dd-toggle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  text-align: center;
  z-index: 101;
  border: 0;
}
.wojo.menu .dd-toggle .icon {
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.wojo.menu.desktop li.has-sub a {
  padding-right: .5rem;
}
.wojo.menu.desktop.hide-arrows li.has-sub a {
  padding-right: 1rem;
}
.wojo.menu.mobile > ul > li > a.dd-toggle {
  padding: 0;
}
/* mobile nav */
.menu-toggle {
  display: none;
}
.wojo.menu.mobile {
  position: static;
}
.wojo.menu.mobile.fixed {
  position: static;
}
.wojo.menu.mobile ul {
  position: relative;
  display: none;
}
.wojo.menu.mobile.active {
  padding-bottom: 0;
}
.wojo.menu.mobile.active > ul {
  display: block;
}
.wojo.menu.mobile ul {
  text-align: left;
}
.wojo.menu.mobile > ul > li {
  display: block;
}
.wojo.menu.mobile > ul > li > a {
  padding: 15px;
}
.wojo.menu.mobile ul {
  background: #fff;
}
.wojo.menu.mobile ul ul {
  position: relative;
  opacity: 1;
  visibility: visible;
  width: auto;
  display: none;
  -webkit-transition: none;
  transition: none;
}
.wojo.menu.mobile ul ul ul {
  left: auto;
  top: auto;
}
.wojo.menu.mobile li.drop-left ul ul {
  right: auto;
}
.wojo.menu.mobile li a {
  border-bottom: 1px solid rgba(255, 255, 255, .15);
}
.wojo.menu.mobile > ul {
  border-top: 1px solid rgba(255, 255, 255, .15);
}
.wojo.menu.mobile li a.dd-toggle {
  border: 0;
}
.wojo.menu.mobile.light li a.dd-toggle {
  border: 0;
}
.wojo.menu.mobile .dd-toggle {
  display: inline-block;
}
.wojo.menu.mobile li.has-sub > a:after,
.wojo.menu.mobile li li.has-sub > a:after,
.wojo.menu.mobile li.drop-left li.has-sub > a:after {
  display: none;
}
/* left and right positions */
.wojo.menu.mobile.right > ul,
.wojo.menu.mobile.left > ul {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 280px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 20px 34px -16px var(--primary-color-shadow);
}
.wojo.menu.mobile.right > ul {
  right: 0;
}
.wojo.menu.mobile.right .close-menu,
.wojo.menu.mobile.left .close-menu {
  display: block;
  text-align: right;
}
.wojo.menu.mobile.left > ul {
  left: 0;
}
/* left and right positions */

/* mega dd */
.wojo.menu.desktop li.mega ul ul {
  background: none;
}
.wojo.menu.desktop li.mega li {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
}
.wojo.menu.desktop li.mega li li {
  display: block;
  position: relative;
  left: 4px;
}
.wojo.menu.desktop li.mega ul ul {
  width: auto;
}
.wojo.menu.desktop > ul > li.mega {
  position: inherit;
}
.wojo.menu.desktop > ul > li.mega > ul {
  width: 100%;
}
.wojo.menu.desktop > ul > li.mega > ul li.has-sub ul {
  display: block;
  position: relative;
  left: auto;
}
.wojo.menu.desktop > ul > li.mega > ul > li {
  padding-bottom: 1rem;
  box-sizing: border-box;
}
.wojo.menu.desktop li.mega li li a {
  padding: .5rem 1rem;
}
.wojo.menu.desktop li.mega li.has-sub a:after {
  display: none;
}
.wojo.menu.desktop > ul > li.mega > ul > li > a {
  color: yellow;
}

@media only screen and (max-width : 768px) {
.wojo.menu {
  overflow: hidden;
  display: block;
}
.wojo.menu ul {
  position: relative;
  display: none;
}
.wojo.menu .menu-toggle,
.wojo.menu .close-menu {
  padding: 1rem;
  align-items: center;
  display: flex;
}
.menu-toggle {
  padding: 1rem;
  align-items: center;
  display: flex;
  color: #fff;
}
}